<!--
<div class="parentFormContainer">
  <div id="formContainer">
    <input class="form-label rounded border m-4 p-2" type="text" [(ngModel)]="enteredLocation" placeholder="Search Location..">
    <button (click)="checkLocation()">Check Location</button>
    <div class="message" [ngClass]="{'green': isLocationInZone, 'red': !isLocationInZone}">
      {{ message }}
    </div>
  </div>
</div>

<div class="container rounded w-100 border" id="map" style="height: 400px;"></div> -->

<div class="parentFormContainer">
  <div id="formContainer">
    <input #inputField id="input" placeholder="Enter place to search">
    <button (click)="checkLocation()" >Check Zone</button>
  </div>
</div>

<div class="">
  <div class="full " id="map">
  </div>
</div>
